.contenedor .contenido {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 30px 150px;
}

.contenedor .contenido .card {
  background: #fff;
  padding: 0 10px 0 0;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.contenedor .contenido .card:hover {
  transform: scale(1.03);
}

.contenedor .contenido .card .ilustracion {
  display: flex;
  align-items: center;
  padding: 2px;
}

.contenedor .contenido .card .ilustracion img {
  width: 200px;
  height: 395px;
  aspect-ratio: 1/1;
  object-fit: fill;
  border-bottom-left-radius: 4%;
  border-top-left-radius: 4%;
}

.contenedor .contenido .card .descripcion {
  display: grid;
  grid-template-rows: 30px 2fr 1fr;
}

.contenedor .contenido .card .descripcion .desc-header {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.contenedor .contenido .card .descripcion svg {
  fill:#969494;
}

.contenedor .contenido .card .descripcion .desc-header span {
  padding: 5px 8px;
  line-height: 15px;
  color: #969494;
}

.contenedor .contenido .card .descripcion .desc-header span::before {
  margin-right: 5px;
}

.contenedor .contenido .card .descripcion .desc-header .tipo-anuncio {
  background: #072083;
  color: white;
  border-radius: 5px;
}

.contenedor .contenido .card .descripcion .desc-body{
  margin: auto
}

.contenedor .contenido .card .descripcion .desc-body span {
  display: block;
  font-size: 16px;
  padding: 5px;
  color: #969494;
}

.contenedor .contenido .card .descripcion .desc-body .title {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.contenedor .contenido .card .descripcion .desc-owner {
  display: flex;
  gap: 10px;
  align-self: center;
}

.contenedor .contenido .card .descripcion .desc-owner .desc-owner-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.contenedor .contenido .card .descripcion .desc-owner .desc-owner-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: #969494;
}

.contenedor .contenido .card .descripcion .desc-owner .desc-owner-desc .owner {
  font-weight: bold;
  color: black;
}

@media only screen and (max-width: 1200px) {
  .contenedor .contenido {
    grid-template-columns: 1fr;
  }
}